{{ define "main" }}

<p>
  <a href="{{ .Site.BaseURL }}email/" class="buttonlink">&larr; Inbox</a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  {{ with .Param "forwardlink" }}
    <a href="{{ . }}" class="buttonlink">Forward</a>
  {{ else }}
    <a href="{{ .Site.BaseURL }}forwarding/noforward" class="buttonlink">Forward</a>
  {{ end }}
</p>

<p>
  <b>From:</b> {{ .Params.from }}
  <br/>
  <b>To:</b> Don Calzone &lt;BigDCalzone@luckystrikecasino.cm&gt;
  <br/>
  <b>Subject:</b> {{ .Params.subject }}
</p>

{{ .Content }}

{{ end }}
